@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #0f1424;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  padding-block: 8em;
  color: #bdc1ff;
}

.container {
  align-self: center;
  display: grid;
  gap: 1.5em;
  grid-template-rows: repeat(7, auto);
  grid-template-columns: repeat(1, 1fr);
  color: #bdc1ff;
  width: 90%;
  max-width: 335px;
}

.card--person {
  align-self: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "top" "mid" "btm";
  color: #bdc1ff;
  width: 100%;
  max-width: 335px;
}
.card--person__top, .card--person__bottom {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.card--person__top {
  grid-area: 1/1/3/2;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-color: #5847eb;
  z-index: 2;
}
.card--person__top .person__img {
  grid-area: 1/1/3/2;
  padding: 0rem;
  width: 8rem;
  overflow: hidden;
  padding: 1.7rem;
}
.card--person__top .person__img img {
  width: 100%;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  border: 0.25rem solid #bdc1ff;
}
.card--person__top .name {
  grid-area: 2/2/3/4;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  margin-top: -0.3rem;
  margin-left: -0.5rem;
  align-self: flex-start;
  justify-self: flex-start;
}
.card--person__top .report_for {
  grid-area: 1/2/2/4;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-left: -0.5rem;
  line-height: 1.5rem;
  align-self: flex-end;
  justify-self: flex-start;
}
.card--person__bottom {
  grid-area: 2/1/4/2;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-color: #1c1f4a;
  z-index: 1;
}
.card--person__bottom .daily, .card--person__bottom .weekly, .card--person__bottom .monthly {
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: 400;
  transform-origin: center;
  transition: color 200ms ease-in-out, font-weight 200ms ease-in-out, opacity 200ms ease-in-out, transform 200ms ease-in-out;
}
.card--person__bottom .daily:hover, .card--person__bottom .weekly:hover, .card--person__bottom .monthly:hover {
  opacity: 0.7;
  color: white;
  transform: scale(1.2);
  transform-origin: center;
  font-weight: 500;
  transition: color 200ms ease-in-out, font-weight 200ms ease-in-out, opacity 200ms ease-in-out, transform 200ms ease-in-out;
}
.card--person__bottom .active {
  color: white;
  font-weight: 500;
  transform: scale(1.2);
  transform-origin: center;
}
.card--person__bottom .active:hover {
  opacity: 1;
}

.card {
  display: grid;
  grid-template-rows: 2.5rem repeat(3, 0.4fr);
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  justify-self: center;
  align-self: center;
  width: 100%;
  z-index: 1;
}
.card .icon {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  grid-area: 1/1/3/4;
  max-height: 74px;
  text-align: right;
  object-fit: cover;
  position: relative;
  align-content: flex-start;
  justify-content: space-between;
}
.card .icon img {
  top: -1em;
  right: 0.5em;
  height: auto;
  transform: scale(1);
  position: absolute;
}
.card .icon p {
  grid-area: "Title";
  align-self: flex-end;
  justify-self: flex-start;
  padding-left: 1.5rem;
  padding-top: 1em;
  font-weight: 500;
  color: black;
  margin-block: 0.3em;
}
.card .animate {
  animation-name: swap;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.card__details {
  grid-area: 2/1/5/4;
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  grid-template-rows: repeat(2, 0.4fr) 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "Title  Ellipsis" "Hours  Previous" "Hours  Previous";
  width: 100%;
  height: 100%;
  z-index: 2;
  justify-self: center;
  align-self: center;
  background-color: #1c1f4a;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.card__details .ellipsis {
  grid-area: "Ellipsis";
  align-self: center;
  justify-self: flex-end;
  padding: 0;
  padding-right: 1.5em;
  padding-top: 1em;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.card__details .ellipsis svg {
  pointer-events: none;
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}
.card__details .ellipsis svg path {
  transition: fill 200ms ease-in-out;
}
.card__details .ellipsis:hover svg path {
  fill: white;
  transition: fill 200ms ease-in-out;
}
.card__details .ellipsis:hover svg {
  transform: scale(1.2);
  transition: transform 200ms ease-in-out;
}
.card__details .card_title {
  grid-area: "Title";
  align-self: flex-end;
  justify-self: flex-start;
  padding-left: 1.5rem;
  padding-top: 1em;
  font-weight: 500;
  color: white;
  transition: color 200ms ease-in-out;
  margin-block: 0.3em;
}
.card__details .hours {
  grid-area: 2/1/2/3;
  align-self: center;
  justify-self: flex-start;
  padding-left: 1.5rem;
  font-size: 2rem;
  color: white;
  transition: color 200ms ease-in-out;
}
.card__details .previous {
  grid-area: 2/1/2/3;
  align-self: center;
  justify-self: flex-end;
  padding-right: 1.5em;
  margin: 0;
  transition: color 200ms ease-in-out;
}
.card .selected {
  transition: background-color 200ms ease-in-out;
  background-color: #292f70;
}

@keyframes swap {
  0% {
    transform: scale(1) translatey(0em);
  }
  10% {
    transform: scale(1.04) translatey(0em);
  }
  30% {
    transform: scale(1.04) translatey(2.4em);
  }
  40% {
    transform: scale(0.95) translatey(2.4em);
    z-index: -1;
  }
 
  50%, 55% {
    transform: scale(0.95) translatey(-1em) scaleY(0);
    transform-origin: top;
    z-index: -1;
  }
 
  60% {
    transform: scale(0.95) translatey(2.4em) scaleY(1);
    transform-origin: top;
    z-index: -1;
  }
  70% {
    transform: scale(1.04) translatey(2.4em) scaleY(1);
    z-index: 2;
  }
  90% {
    transform: scale(1.04) translatey(0em) scaleY(1);
    z-index: 2;
  }
  100% {
    transform: scale(1) translatey(0em) scaleY(1);
    z-index: 2;
  }
}
#Exercise__icon {
  top: 0em;
}

#Work {
  background-color: #ff8c66;
}

#WorkP {
  color: #d96c47;
}

#Play {
  background-color: #56c2e6;
}

#PlayP {
  color: #3f9cbb;
}

#Study {
  background-color: #ff5c7c;
}

#StudyP {
  color: #f04667;
}

#Exercise {
  background-color: #4acf81;
}

#ExerciseP {
  color: #29ba66;
}

#Social {
  background-color: #7536d3;
}

#SocialP {
  color: #5a1cbb;
}

#Self-Care {
  background-color: #f1c65b;
}

#Self-CareP {
  color: #e6a532;
}

@media only screen and (min-width: 1000px) {
  .container {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    max-width: 966px;
    position: relative;
  }

  .card--person {
    grid-area: 1/1/3/2;
    height: 100%;
    max-width: 225px;
    min-width: 195px;
  }
  .card--person__top, .card--person__bottom {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .card--person__top .report_for {
    grid-area: 2/1/3/4;
    margin: 0;
    margin-inline: 1.5rem;
    text-align: left;
    font-size: smaller;
  }
  .card--person__top .name {
    grid-area: 3/1/4/4;
    margin: 0;
    margin-inline: 1.5rem;
    text-align: left;
    font-size: 2rem;
  }
  .card--person__bottom {
    grid-template-rows: repeat(6, 1fr);
  }
  .card--person__bottom .daily, .card--person__bottom .weekly, .card--person__bottom .monthly {
    margin-inline: 1rem;
    justify-self: flex-start;
    transform-origin: left;
  }
  .card--person__bottom .daily {
    align-self: flex-end;
    grid-row-start: 4;
  }
  .card--person__bottom .weekly {
    grid-row-start: 5;
  }
  .card--person__bottom .monthly {
    align-self: flex-start;
    grid-row-start: 6;
  }
  .card--person__bottom .daily:hover, .card--person__bottom .weekly:hover, .card--person__bottom .monthly:hover {
    transform-origin: left;
  }
  .card--person__bottom .active {
    transform-origin: left;
  }

  .card {
    height: 100%;
    max-width: 225px;
    min-width: 195px;
  }
  .card__details {
    grid-template-rows: repeat(3, 0.4fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .card__details .previous {
    grid-area: 3/1/3/3;
    align-self: flex-start;
    justify-self: flex-start;
    padding-left: 1.5rem;
  }
  .card__details .hours {
    font-size: 3rem;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: #5877f3;
}

/*# sourceMappingURL=style.css.map */
